.rating__title {
  margin: 0;
  margin-bottom: 32px;
}

.rating__filter-list {
  display: flex;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  list-style: none;
}

.rating__line {
  height: 1px;
  background-color: #DEE2ED;
}

.rating__filter-item {
  margin-right: 32px;
}


.rating__filter-item a {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #A0A7B7;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.rating__filter-item--active a {
  position: relative;
  color: #19233D;
}

.rating__filter-item--active a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -26px;
  width: 100%;
  height: 2px;
  background-color: #066AFF;
}

.rating__content {
  padding-top: 48px;
}

.rating__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.rating__item {
  position: relative;
  width: 48%;
  margin-bottom: 30px;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 5px;
}

.rating__item-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.rating__item-block {
  &--company {
    width: 60%;
  }

  &--speed {
    width: 18%;
  }

  &--quality {
    width: 18%;
  }
}

.rating__item-company {
  display: flex;
  align-items: flex-start;

  img {
    margin-right: 8px;
  }

  p {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
}

.rating__item-text {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #19233D;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--speed::before {
    background-image: url(../images/icon-speed.png);
  }

  &--quality::before {
    background-image: url(../images/icon-quality.png);
  }
}

.rating__item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating__comment-button {
  width: 45px;
  height: 45px;
  background-color: #1E85FF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #066aff;
  }
}

.rating__button-group {
  display: flex;
}

.rating__orders-button {
  width: 140px;
  margin-right: 16px;
  padding: 13px 5px;
  border-radius: 5px;
  text-align: center
}

.rating__subscribe-button {
  width: 140px;
  padding: 13px;
  border-radius: 5px;
}

//comment//

.rating__comment {
  z-index: 10;
  display: none;
  position: absolute;
  top: 215px;
  left: 32px;
  width: 460px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 4px #E2E2E2;

  &--active {
    display: block;
  }
}

.rating__comment-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rating__comment-item {
  padding: 16px;
  border-bottom: 1px solid #EEEFF1;

  &:last-child {
    border-bottom: none;
  }
}

.rating__review {
  display: flex;
  align-items: flex-start;
  img {
    margin-right: 8px;
  }
}

.rating__review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.rating__review-subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: #19233D;
}

.rating__review-date {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #B2B2B2;
}

.rating__reviews-text {
  margin: 0;
  color: #19233D;
}
