.footer {
  margin-top: auto;
  padding-top: 100px;
  padding-bottom: 24px;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footer__info-list {
  display: flex;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  list-style: none;
}

.footer__info-item {
  margin-right: 32px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: #B3B3B3;

    &:hover {
      color: #066AFF;
    }
  }

}

.footer__social-list {
 width: 240px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #C3C7D4;
  border-radius: 3px;
}

.footer__social-link i {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

//.footer__social-link:hover i {
//  color: #066AFF;
//}

.footer__social-link:hover {
  background-color: #066AFF;
}
